<!doctype html>
<html lang="it">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <base href="{{ base_path }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ css('bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ css('fa/all.min.css') }}">
    <link rel="stylesheet" href="{{ css('admin/pages/login.css') }}">

    <title>{{ site_title }}</title>
  </head>
  <body>
      <div class="wrapper fadeInDown">
          {% for alert in alerts %}
            <div class="alert alert-{{ alert.type }} alert-dismissible fade show" role="alert">
                <h4><i class="fas fa-exclamation-circle"></i> Avviso!</h4>
                {{ alert.message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
          {% endfor %}
          <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
              <div id="icon">
                  <i class="fas fa-user-shield"></i>
              </div>
              <h1>Pannello di amministrazione</h1>
            </div>

            <!-- Login Form -->
            <form method="post" action="{{ url('admin.auth@login') }}">
                {{ CSRF() }}
              <input type="text" id="login" class="fadeIn second" name="username" placeholder="username">
              <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
              <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
              <a class="underlineHover" href="{{ url('home@index') }}">Ritorna al sito</a>
            </div>

          </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ js('jquery.min.js') }}"></script>
    <script src="{{ js('popper.min.js') }}"></script>
    <script src="{{ js('bootstrap.min.js') }}"></script>
  </body>
</html>
